*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 120px;   
}
html{
    scroll-padding-top: 125px;
}
a{
    color: inherit;
    text-decoration: none;
}
button{
    cursor: pointer;
}
.header{   
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
}
.settings{
    display: flex;
    justify-content: end; 
}
.settings img{
    height: 15px;
}
.settings p{
    font-size: 12px;
    padding: 15px;
    color: rgb(164, 164, 164);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav img{
    height: 30px;
    width: 30px;
    padding-left: 30px;   
}
.navbar{
    display: flex;
    padding-left: 20px;
    align-items: center;
}
.navbar a{
    padding-right: 30px;
    font-size: 15px;   
}
.navbar a:hover, .navbar a:active{
    color: rgb(170, 5, 5);
}
.profile img{
    width: 30px;
    height: 20px;
    padding-right: 30px;
}
.navbar .logo1{
    width: 100px;
    height: 42px;
}
.accessories{   
    background-color: rgb(237, 237, 237);
    padding: 150px 50px 15px 50px;
    margin: 10px 70px;
    border-style: none;
    border-radius: 10px;
}
.accessories h2{
    font-size: 35px;
    width: 500px;
}
.accessories-part{
    display: flex;
    padding: 20px;
}
.accessories-info{
    width: 500px;
    padding-right: 40px;
}
.accessories-example{
    width: 150px;
    background-color: rgb(225, 225, 225);
    padding: 30px 40px 30px 20px;
    border-style: none;
    border-radius: 20px;
    position: relative;
}
.accessories-example-photo{
    position: absolute;
    top: -120px;
    right: -140px;    
}
.accessories-example-photo img{
    width: 200px;
}
.accessories-info p{
    margin-bottom: 20px;
}
.accessories-info a{
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 8px 30px;
    border-style: none;
    border-radius: 10px;  
}
.accessories-example a{
    color: white;
    font-size: 10px;
}
.accessories-example h3{
    margin-bottom: 30px;
}
.shop{
     background-color: black;
    color: white;
    font-size: 12px;
    padding: 8px 50px;
    border-style: none;
    border-radius: 50px;
}
.shop img{
    width: 20px;
}
.star{
    font-size: 10px;
    color: rgb(243, 243, 8);
    display: inline;  
}
.text{
    color: rgb(128, 128, 128);
    font-size: 10px;  
    display: inline;
}
.recommendation h2 , .last-viewed-top-sellers h2{
    margin: 50px 50px 20px 72px;
    font-size: 20px;
}
.recommendations{
    background-color: rgb(237, 237, 237);
    display: flex;
    margin: 10px 70px;
    justify-content: space-between;
    border-style: none;
    border-radius: 10px;
}
.recommendation-list img{
        width: 60px;
       padding-right: 10px;
}
.recommendation-list {
    display: flex;
    padding: 10px;  
}
.recommendation-list h3{
    font-size: 15px;
    margin-bottom: 10px;
}
.recommendation-list p{
    font-size: 10px;
}
.categories{
    display: flex;
    margin: 50px 70px 20px 70px;
    justify-content: space-between;
    font-size: 13px;
}
.View-category{
    cursor: pointer;
}
.categories-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px 70px 50px 70px;
}
.categories-grid-list{
    width: 250px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(236, 234, 234);
    cursor: pointer;
}
.categories-grid-list img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 250px;
}
.categories-grid-list p{
    text-align: center;
    padding-bottom: 10px;
    font-size: 15px;
}
.last-viewed-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 10px 70px 50px 70px;   
}
.last-viewed-grid-list{
    width: 200px;
    border-style: none;
    background-color: rgb(237, 237, 237);
    border-radius: 15px;
    cursor: pointer;
}
.last-viewed-grid-list img{
    width: 100%;
    height: 170px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.last-viewed-grid-list h3, .last-viewed-grid-list p, 
.last-viewed-grid-list h4 {
        padding-left: 10px;
}
.last-viewed-grid-list h3{
    font-size: 15px;
    font-weight: 300;
}
.last-viewed-grid-list h4{
    font-size: 18px;
    padding: 10px;
}
.last-viewed-grid-list .stars{
    color: rgb(227, 227, 2);
    font-size: 20px;
}
.choose{
    display: flex;
    margin: 50px;   
}
.choose-style{
    display: flex;
    background-color: rgb(237, 237, 237);
    border-style: none;
    border-radius: 10px;
    margin: 20px;
    align-items: center;
    padding: 30px;
}
.choose-style img{
    width: 120px;
    height: 200px;
}
.choose-style h2{
    font-weight: 300;
    padding-bottom: 20px;
    font-size: 20px;
}
.choose-style p{
    font-size: 14px;
    padding-bottom: 60px;
}
.choose-style a{
    font-size: 10px;
    font-weight: bold;    
}
.footer{
    background-color: black;
    color: white;
    border-style: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.footer-elements{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
}
.services{
    line-height: 1.8rem;
    width: 250px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    margin: 50px 20px;   
}
.services a{
    font-size: 12px;
    display: block;
}
.services input{
    background-color: black;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: 1px;
    color: white;
    padding-left: 5px;
}
.services button{
    background-color: black;
    color: white;
    font-weight: bold;
    border-style: none;
}
.services h3{
    padding-bottom: 15px;
    padding-right: 40px;
}
.services p{
    display: inline;
    color: red;
    font-weight: bold;
}
.footer-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
}
.footer-logo img{
    width: 100px;
}
@media(max-width: 1000px){
.footer-elements{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
}
@media (max-width: 834px){
.recommendations{
    background-color: rgb(216, 216, 216);
    display: grid;
    grid-template-columns: 1fr 1fr;  
}
}
@media(max-width: 900px){
    .accessories-part{
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
    padding: 20px;
}
.categories-grid{
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.last-viewed-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;  
}
.choose{
    display: block;
    margin: 50px;    
}
.footer-elements{
    grid-template-columns:  1fr 1fr;    
}
.infop {
    font-size: 13px;
    width: 200px;
}
}
@media (max-width:600px) and (min-width: 200px){
    .nav{
    display: grid;
    grid-template-columns: 1fr;   
}
    .categories-grid{
    grid-template-columns: 1fr;
    gap: 10px;
}
.last-viewed-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;  
}
.footer-elements{
    grid-template-columns:  1fr;   
}
.recommendations{
    background-color: rgb(216, 216, 216);
    display: grid;
    grid-template-columns: 1fr;        
}
.accessories h2{
    font-size: 15px;
    display: inline;
    width: 200px;
}
.accessories-part{
    display: grid;
    gap: 200px;
    padding: 20px;
}
.accessories-example-photo{
    position: absolute;
    top: -120px;
    right: -140px;   
}
.accessories-example-photo img{
    width: 150px;
}
.infop{
  width: 200px;
    font-size: 10px;
}
.settings{
    display: flex;
    justify-content: start;  
}
}