.shop-list{
    padding: 20px 70px 30px 70px;
}
.give{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 150px;
    margin-bottom: 100px;
}
.give button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 10px;
}
.give input{
    padding: 8px 20px;
    border-style: solid;
    border-color: rgb(228, 225, 225);
    border-radius: 10px;
}
.shop-product-menu button p{
    display: inline;
    padding: 1px;
    background-color: red;
    color: white;
    font-size: 10px;
    margin-left: 30px;
    margin-right: 20px;
    border-style: none;
    border-radius: 2px;
}
.shop-product-menu button{
    width: 210px;
    padding: 10px 20px;
    margin: 20px 5px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(211, 211, 211);
}
.shop-product{
    padding: 20px 30px;
    display: flex;   
}
.shop-product-menu{
    margin-right: 200px;
}
.shop-product-menu img{
    height: 120px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.shop-product-menu p{
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 12px;
}
.shop-product-menu p i{
    font-size: 8px;
    padding-left: 3px;
}
.shop-product-lists{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.shop-product-items-img img{
    width: 100%;
    height: 170px;
    background-color: rgb(237, 237, 237);
    border-style: none;
    border-radius: 15px;
}
.shop-product-items-img{
    position: relative;
}
.shop-product-items-img-type{
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 11px;
    border-style: none;
    background-color: white;
    border-radius: 10px;
    padding: 3px 5px;
    box-shadow: inset 1px 2px rgba(0, 0, 0, 0.15);
}
.shop-product-items button img{
    height: 13px;
}
.shop-product-items p{
    font-size: 8px;
    color: gray;
    display: inline;
    padding-left: 8px;   
}
.shop-product-items h4{
    font-size: 13px;  
    padding: 5px 2px 5px 8px;  
}
.shop-product-items h5{
    display: inline;
    font-size: 15px;
    padding-left: 30px;
}
.shop-product-items button{
    background-color: black;
    color: white;
    border-style: none;
    padding: 5px 30px;
    margin: 10px 20px;
    border-radius: 20px;
    font-size: 10px;
}
.shop-product-recomendation-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.shop-product-recomendation-grid{
    width: 300px;
    text-align: center;
    padding-bottom: 30px;
}
.shop-product-recomendation-grid p, .shop-product-recomendation-grid h4{
    display: inline;
    padding-right: 50px;
}
.shop-product-recomendation-grid p{
    font-size: 12px;
}
.recommendation-type{
    position: relative;
    padding-top: 40px;
    background-color: rgb(236, 236, 236);
    border-radius: 15px;
}
.recommendation-type img{
    width: 100%;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.recommendation-types{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    border-style: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    box-shadow: inset 2px 2px rgba(0,0,0 , 0.15);
}
@media(max-width: 600px){  
.shop-product-lists{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.shop-product{
    padding: 20px 30px;
    display: block;
}
}
@media(max-width: 1000px){
    .shop-product{
    padding: 20px 30px;
    display: block;
}
.shop-product-recomendation-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.shop-product-recomendation-grid{
    width: 300px;
}
}
@media(max-width: 800px){
    .shop-product-recomendation-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-right: 30px;
}
.shop-product-recomendation-grid{
    width: 400px;
}
}